.accard{
    text-align: center;
    width: 220px;
    /* width: 15%; */
    padding: 1rem 0.5rem;
    margin: 1.3rem;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.acassociateimage {
    object-fit: cover;
}

.acimg-wrapper{
    width: 150px;
    height: 150px;
    /* width: 10vw;
    height: 10vw; */
    border-radius: 100%;
    display: block;
    overflow: hidden;
    margin: auto;
}

.accard:hover{
    box-shadow: 0px 4px 20px 3px rgba(193, 183, 201, 0.3);
}

.acname{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: 'futuraHeavy';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.35em;
    text-transform: uppercase;

    color: #000000;
}

.acshortdesc{
    margin-bottom: 0.8rem;
    font-family: 'futuraLightBT';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: capitalize;

    color: #000000;
}

.acemail {
    font-family: 'mpBlkLt';
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;

    color: #000000;
    text-decoration: none;
}