video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.info-container {
  background: url("../../../../public/images/IMG_2055.JPEG") center center/cover
    no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.info-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
  font-size: 48px;
  font-family: "futuraHeavy";
  letter-spacing: 0.75rem;
}

.info-container > p {
  margin-top: 8px;
  color: #fff;
}

.info-btns {
  margin-top: 32px;
}

.info-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

.banner-btn {
  background-color: transparent;
  text-align: center;
  font-size: xX-large;
  color: #fff;
  border-radius: 5px;
  border-color: rgb(222, 145, 234);
  margin: 10px;
}

.banner-btn:hover {
  background-color: #fff;
  color: black;
}

@media screen and (max-width: 960px) {
  .info-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .info-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .info-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
