.modal-background{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.02);
    z-index: 9;
    position: fixed;
    top: 0%;
    left: 0%;
}

.desccard-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    margin: auto;
    width: 60vw;
    height: 80vh;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
    z-index: 10;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.descimage{
    flex: 0 1 50vw;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    /* object-position: -90px 0px; */
}

.dinfo{
    flex: 1 1 50vw;
    padding: 0rem 3rem;
}

.exit-button{
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dname {
    /* Heading 3 */

    font-family: 'futuraMediumBT';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.39em;
    text-transform: uppercase;

    color: #000000;
}

.ddesc {
    font-family: 'mpBlkLt';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    
    color: #000000;
}