@font-face {
  font-family: futuraHeavy;
  src: url(../public/fonts/futura/Futura\ Heavy\ font.ttf)
}

@font-face {
  font-family: futuraMediumBT;
  src: url(../public/fonts/futura/futura\ medium\ bt.ttf)
}

@font-face {
  font-family: mpBlkLt;
  src: url(../public/fonts/meta-pro/FFMetaProLight.TTF)
}

@font-face {
  font-family: mpReg;
  src: url(../public/fonts/meta-pro/FFMetaProRegular.TTF)
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
