.h3-green-title {
    font-family: 'futuraHeavy';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    letter-spacing: 3px;
  }

  .advisors-desc-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
  }

  .horizontal-buttons {
    display:flex;
    flex-direction: row;
    justify-content: center;
  }

.a-center-green-box {
  display: flex;
  background-color: rgba(214, 231, 216, .2);
  border-radius: 29px;
  flex-direction: column;
  padding: 2rem; 
  max-width: 761px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.meta-pro-text{
  font-family: 'mpBlkLt';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #000000;
}

.green-link-text{
    font-family: 'mpBlkLt';
    font-weight: 700;
    font-style: italic;
    color: #2B7632;
}

  .advisor-button {
    font-family: 'mpBlkLt';
    font-weight: 700;
    width: 190px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 1rem;
    color: #2B7632;
    border: 1px solid #2B7632;
    margin: 15px;
  }
  
  .advisor-button:hover {
    background-color: #2B7632;
    color: white;
    border: #2B7632;
  }

  .indent-list {
      padding-left: 2rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
  }
