.resource-desc-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

.resource-right-box{
    background-color: rgba(247, 243, 252, 0.6);
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    border-radius: 29px;
    max-width: 475px;
    padding:2rem;
    justify-content: center;
}

.resource-center-box{
    background-color: rgba(247, 243, 252, 0.6);
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    border-radius: 29px;
    max-width: 800px;
    padding:2rem;
    justify-content: center;
}

.resource-center-green-box {
    display: flex;
    background-color: rgba(214, 231, 216, .2);
    border-radius: 29px;
    flex-direction: column;
    padding: 2rem; 
    max-width: 761px;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

.resource-left-green-box {
background-color: rgba(214, 231, 216, .2);
border-radius: 29px;
padding: 2rem; 
max-width: 600px;
height: max-content;
}

.p-right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 540px;
    padding: 0 3rem;
}

.resource-h3-title {
font-family: 'futuraHeavy';
font-style: normal;
font-weight: 700;
font-size: 20px;
text-transform: uppercase;
color: #000000;
padding-bottom: 1rem;
letter-spacing: 3px;
}

.resource-list-desc-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
}


.resource-padding-right{
    padding-right: 5rem;
}
.resource-padding-left{
    padding-left: 2rem;
}

.resource-p-text {
font-family: 'mpBlkLt';
font-weight: 300;
font-size: 16px;
text-align: justify;
color: #000000;
}

.italic-text{
    font-style: italic;
    font-family: 'futuraLightBT';
    color: #c4c4c4
}
.resource-indent-padding{
    margin-left: 1rem;
  }

.resource-grid-parent {
  display:inline-block;
}

.resource-grid-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    max-width:530px
  }
  
  .resource-grid-row{
    display:grid;
    grid-template-columns: repeat(3, 300px);
    border-bottom: 1px solid rgba(77, 77, 77, .5);
    max-width: 450px;
  }
  
  .resource-grid-cell{ 
    padding: 1rem 2rem;
  }

  .cell-headline-text {
    color: #c4c4c4;
    font-family: "futuraHeavy";
    font-size: 16px;
    letter-spacing: 2px;
}
.resource-italic-text{
    font-style: italic;
    font-family: 'futuraLightBT';
    color: #c4c4c4
}

.cell-text{
    color: #000000;
    font-family: 'mpBlkLt';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.resource-button {
    font-family: 'mpBlkLt';
    font-weight: 700;
    width: 190px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 1rem;
    color: #2B7632;
    border: 1px solid #2B7632;
    margin: 15px;
}

.resource-button:hover {
background-color: #2B7632;
color: white;
border: #2B7632;
}