.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ebf6ed;
    position: relative;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 2%;
}

.associatesintro-text{
    text-align: center;
    /* width: 33%; */
    width: 600px;
}

.joinassociates{
    position: absolute;
    top: 33%;
    right: 10%;
    border-radius: 100%;
    text-align: center;
    background-color: #FAF9F6;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.introflex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #FFFFFF;
    position: relative;
    width: 50%;
    margin: auto;
    padding: 4% 4%;
    gap: 10%
}

.associatesintro-bg{
    background: linear-gradient(0deg, #ffffff 50%, #ebf6ed 50%);
    bottom: 0px;
}