.advisor-container {
  padding: 3rem;
}
.a-title {
  text-align: center;
  font-size: 4rem;
  color: rgb(116, 116, 116);
  font-weight: lighter;
}
.a-text {
  text-align: center;
  font-size: large;
  color: rgb(116, 116, 116);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  padding: 1.5rem;
}

.a-images {
  padding: 2rem;
}

.img-display {
  display: grid;
  grid-template-columns: repeat(2, auto);
  list-style: none;
  text-align: center;
  justify-content: center;
  grid-gap: 10px;
}
.names {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: smaller;
}
.table-title {
  text-align: center;
  font-size: x-large;
  margin-top: 2rem;
}
.grid-title {
  font-size: large;
}
.grid-content {
  font-family: Arial, Helvetica, sans-serif;
}
.grid-display {
  list-style: none;
  text-align: left;
  justify-content: center;
  align-content: center;
  margin-left: 5rem;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding-top: 0.5rem;
}
.name-col {
  width: 10rem;
}
.study-col {
  width: 20rem;
}
.email-col {
  width: 0.5rem;
}
