.background {
  background-color: rgb(222, 145, 234);
  padding: 2rem;
}
.banner {
  background-color: white;
  font-size: x-large;
  font: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(50, 50, 50);
  align-items: center;
  justify-content: center;
  height: auto;
  width: 80%;
  padding: 2rem;
  border: 6px solid rgb(222, 145, 234);
  border-radius: 0.5rem;
  box-shadow: 0 6px 20px rgba(165, 56, 255, 0.37);
  margin: 0 10%;
}
