.c-text {
  text-align: left;
  font-size: large;
  color: rgb(116, 116, 116);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 24px;
}

.content-container {
  display: flex;
  flex-direction: row;
  padding: 4rem;
}

.text-container {
  width: 50%;
}

.c-title {
  text-align: left;
  font-size: 4rem;
  color: rgb(116, 116, 116);
  font-weight: lighter;
}
.text-body {
  padding-top: 1rem;
}
.coord-pic {
  background: url("../../../../public/images/coords.jpg") center center/cover
    no-repeat;
  height: 400px;
  width: 500px;
  margin-top: 6rem;
  margin-left: 4rem;
}
.magazine {
  background-color: rgb(222, 145, 234);
  color: white;
  font-size: xx-large;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.mag-header {
  display: flex;
  flex-direction: row;
}
.btn-d {
  margin-left: 2rem;
  background-color: #3cb371;
  color: #fff;
  padding: 1rem;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  font-size: large;
}
.btn-d:hover {
  background-color: white;
  color: black;
}
