.coord-name{
    font-family: "Futura Hv BT";
    font-size: 13px;
    padding-bottom: 1rem;
    letter-spacing: 2px;
}
.coord-bio{
    font-family: "Meta Pro Light";
    font-size: 13px;
}
.border-container{
    border-radius:100%;
    width:250px; height:250px;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: hidden;
    margin:1rem;
}

.opacity-zero{
    opacity: 0;
}

.background-img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

.text-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background-color: white;
}
.text-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}