.oweek-container{
    display: flex;
    flex-direction: row;
    background-color: #F7F2FF;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    width: 70%;
}
.card {
    margin: 5rem;
}
.oweek-text-container {
    background-color: white;
    padding: 3rem 6rem;
    margin: 0 4rem;
    margin-bottom: 2rem;
}

.oweek-h1{
    font-family: "Futura XBlk BT";
    color: black;
    font-style: italic;
    font-size: 70px;
    letter-spacing: 6px;
    padding: 2rem 0;
}

.oweek-h3 {
    font-family: "Futura Hv BT";
    font-size: 15px;
    text-align: left;
    padding-top: 1rem;
    letter-spacing: 6px;
}

.oweek-p {
    font-family: "Meta Pro Light";
    font-size: 12px;
    text-align:justify;
}

.oweek-letter-box {
    max-height: 350px;
    padding-top: 1rem;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}
.open-letter-text {
    text-decoration: underline;
    text-align: center;
    font-style: italic;
    font-size: 13px;
}

.o-week-grid-container {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

.o-week-group-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    row-gap: 2rem;
    column-gap: 2rem;
}