.heading-container {
  display: flex;
  flex-direction: row;
  padding: 2rem 2.5rem;
}

.title {
  font-size: 9rem;
  text-align: left;
  color: #3cb371;
}

.jones-logo {
  background: url("../../../../public/images/jones_logo_l.jpeg") center
    center/cover no-repeat;
  height: 425px;
  width: 425px;
}

.banner {
  font-size: x-large;
  font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(50, 50, 50);
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 80%;
  border: 6px solid rgb(222, 145, 234);
  border-radius: 0.5rem;
  box-shadow: 0 6px 20px rgba(165, 56, 255, 0.37);
  margin: 0 10%;
}
