* {
    font-family: 'futuraMediumBT';
}

.submit-button {
    font-size: 20px;
    padding: 13px;
    border-radius:10px;
    background-color: #BE8EE3;
    color: white;
    border: none;
}

.form-box {
    position: absolute;
    top: 30%;
    right: 12%;
    width: 450px;
    height: 650px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #BE8EE3; 
}

.form-header {
    margin-top:25px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    flex-direction: column;
}
  
.form-group label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 100;
}
  
.form-group input[type="text"] {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group input[type="date"] {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.time-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.time-input {
    flex: 1;
    margin-right: 10px;
    text-align: center; 
}

.time-input label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.time-input input[type="time"] {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    padding: 6px;
}

.form-group label {
    flex: 0 0 auto; 
    margin-right: 10px; 
}

.form-group select {
    flex: 1; 
    width: 100%; 
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.repeated-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
}

.repeated-group label {
    margin-right: 10px; 
}
