* {
  font-family: 'futuraMediumBT'!important;
}

.room-container {
  display: flex;
  flex-direction: row;
}

.day-header {
  display: flex;
  flex-direction: row;
}

.centered-text {
  text-align: center;
}