* {
  font-family: 'futuraMediumBT';
}

.room-container {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.calendar-mobile-header {
  margin-top: 15px;
}

.room-reservation-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.purple-border {
  border: 2px solid #BE8EE3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; 
  max-width: 1300px;
  border-radius: 20px; 
}

.header-text {
  margin-bottom: 60px;
  margin-top: 4%;
  letter-spacing: .45rem;
}

.calendar-mobile-header {
  display: flex;
  flex-direction: row;
}

.calendar-box {
  border-color: black;
}

.day-header {
  position: relative;
  left: 12%;
  margin-bottom: 25px;
}

.calendar-title {
  font-size: 100px;
}
