.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 60px;
  color: black;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: rgba(52, 52, 52, 0.8);
  cursor: pointer;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: medium;
  padding: 8px;
}

.dropdown-link:hover {
  color: rgb(222, 145, 234);
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
