.footer-container {
  background-color: #242424;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer-h-font {
  font-family: 'Futura Md BT';
  letter-spacing: 2px;
}

.footer-p-font {
  font-family: 'Futura Bk BT';
}

.footer-row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-q-font {
  font-family: "Meta Pro";
  font-size: 12px;
  padding-top: 2rem;
}