.navbar {
  background: linear-gradient(
    90deg,
    white, 
    white
  );
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 50;
}

.navbar-container {
  width: 100%;
  display: inline-block;
  align-items: center;
  height: 80px;
  box-shadow: 0 10px 20px 1px rgba(0,0,0,.02);
}

.navbar-text {
  color: black;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-family: "Futura Lt BT";
  font-weight: 600;
}

.left-link{
  display: inline-block;
  width: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.home-link {
  color: #37793D;
  font-family: "Futura Hv BT";
  font-size: 14px;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-left: 6.1rem;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  height: 40px;
  margin-left:  3rem;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-grid-container {
  display:inline-block;
  justify-content: right;
  float: right;
}

.nav-grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: "Futura Hv BT";
  font-size: 12px;
  letter-spacing: 0.3rem;
  width: 200px;
}

.fa-bars {
  color: black;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
