.beerbike-header {
  object-fit: contain;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.beerbike-info {
  /* background-color: red; */
  object-fit: contain;
  padding: 10px;

  display: flex;
  flex-direction: column;
  width: 35vw;
  align-items: flex-start;

  position: absolute;
  top: 20vh;
  left: 20vh;
}

.beerbike-info-title {
  object-fit: contain;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 45px;
  font-family: "Futura";
  font-style: italic;
  letter-spacing: 0.18em;
  font-weight: 900;
  text-align: justify;
}

.beerbike-info-title > h1 {
  color: black;
  width: 250px;
}

.beerbike-info-title-image {
  max-height: 200px;
  justify-self: flex-start;
}

.beerbike-info-subtitle {
  flex: 1;
  width: 224px;
  padding: 10px;
  /* background-color: pink; */

  /* Subheading */

  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.475em;
  text-transform: uppercase;
}

.beerbike-info > p {
  flex: 4;
  padding: 10px;

  height: 355px;
  left: 13.6%;
  right: 63.72%;

  font-family: "Meta Pro";
  font-style: normal;
  font-weight: 200;
  font-size: 13px;
  line-height: 19px;
  text-align: justify;

  /* object-fit: contain; */
}

.beerbike-graphic {
  width: 100vw;
  height: 110vh;
  background-color: #f7f2ff;
  mask-image: url("./images/mask-image2.png");
  mask-size: 85vw 90vh;
  mask-position: 17vw -10vh;
  object-fit: contain;
  mask-mode: luminance;
  mask-repeat: no-repeat;
}

.front-pic {
  position: absolute;
  bottom: 7vh;
  right: 0px;
  height: 84vh;

  z-index: 1;
}

@media only screen and (max-width: 930px) {
  [class="beerbike-header"] {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  [class="beerbike-info"] {
    position: relative;
  }
}
